<%= form_with(model: pokemonatkvalue, local: true) do |form| %>
  <% if pokemonatkvalue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pokemonatkvalue.errors.count, "error") %> prohibited this pokemonatkvalue from being saved:</h2>

      <ul>
      <% pokemonatkvalue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :attack %>
    <%= form.number_field :attack, id: :pokemonatkvalue_attack %>
  </div>

  <div class="field">
    <%= form.label :pokemon_id %>
    <%= form.number_field :pokemon_id, id: :pokemonatkvalue_pokemon_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
