<p id="notice"><%= notice %></p>

<h1>Pokemonatkvalues</h1>

<table>
  <thead>
    <tr>
      <th>Attack</th>
      <th>Pokemon</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pokemonatkvalues.each do |pokemonatkvalue| %>
      <tr>
        <td><%= pokemonatkvalue.attack %></td>
        <td><%= pokemonatkvalue.pokemon_id %></td>
        <td><%= link_to 'Show', pokemonatkvalue %></td>
        <td><%= link_to 'Edit', edit_pokemonatkvalue_path(pokemonatkvalue) %></td>
        <td><%= link_to 'Destroy', pokemonatkvalue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pokemonatkvalue', new_pokemonatkvalue_path %>
