<p id="notice"><%= notice %></p>

<p>
  <strong>Attack:</strong>
  <%= @pokemonatkvalue.attack %>
</p>

<p>
  <strong>Pokemon:</strong>
  <%= @pokemonatkvalue.pokemon_id %>
</p>

<%= link_to 'Edit', edit_pokemonatkvalue_path(@pokemonatkvalue) %> |
<%= link_to 'Back', pokemonatkvalues_path %>
