<center>
<%= bar_chart Pokemon.includes(:pokemonatkvalue).order("attack desc").limit(15).pluck("name, pokemonatkvalues.attack"),
	id: 'pokemons_bar_chart',
	width: "1000px",
	height: "500px", 
	title: "Top 15 Pokemon with highest Atk",
	  colors: ['#7cb5ec', '#f7a35c', '#90ee7e', '#7798BF', '#aaeeee', '#ff0066',
      '#eeaaee', '#55BF3B', '#DF5353', '#7798BF', '#993300', '#666999', '#003300', '#0000cc', '#66ffcc'],
	  library: {
	  	yAxis: {
	  		title: {
	  			text: "Attack Value"
	  		},
            labels: {
               format: '{value} Atk'
           }
       },
       xAxis: {
       		title: {
       			text: "Pokemon Name"
       		}
       },
       plotOptions: {
       		column: {
       			colorByPoint: true
       		},
       		series: {
       			borderWidth: 0,
       			dataLabels:  {
       				enabled: true,
       				format: '{point.y} Atk'
       			}
       		}
       },
	    tooltip: {
	      pointFormat: 'Pokemon Atk Value: <b>{point.y}</b>'
	    },
	    series: [{
    		colorByPoint: true,
    		}]
  	}
 %>
 </center>
