<center>
<%= column_chart Pokemon.group(:affinity).pluck("affinity, count(affinity) as affinity_number"),
	id: 'pokemons_column_chart',
	width: "1000px",
	height: "500px", 
	title: "Number of Pokemon with specific affinity",
	  colors: ['#7cb5ec', '#f7a35c', '#90ee7e', '#7798BF', '#aaeeee', '#ff0066',
      '#eeaaee', '#55BF3B', '#DF5353', '#7798BF', '#993300', '#666999', '#003300', '#0000cc', '#66ffcc'],
	  library: {
	  	yAxis: {
	  		title: {
	  			text: "No. of Pokemon"
	  		},
            labels: {
               format: '{value} '
           }
       },
       xAxis: {
       		title: {
       			text: "Affinity Type"
       		}
       },
       plotOptions: {
       		column: {
       			colorByPoint: true
       		},
       		series: {
       			borderWidth: 0,
       			dataLabels:  {
       				enabled: true,
       				format: '{point.y} Pokemon'
       			}
       		}
       },
	    tooltip: {
	      pointFormat: 'Number of Pokemon with specific affinity: <b>{point.y}</b>'
	    },
	    series: [{
    		colorByPoint: true,
    		}]
  	}
 %>
 </center>
