    <!-- Intro Header -->
    <header class="masthead">
     
      <% provide(:title, "Log in") %>
<h1></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>
</div>
      <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h1 class="brand-heading">Pokemon</h1>
              <p class="intro-text">Your one stop Pokedex.
                <br>Created by Ashley Lee.</p>
              <a href="#about" class="btn btn-circle js-scroll-trigger">
                <i class="fa fa-angle-double-down animated"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- About Section -->
    <section id="about" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mx-auto">
            <h2>About</h2>
            <p>Pokemon is a global phenomenon created by Nintendo in Japan.
              <a href="https://www.pokemon.com/uk/">Link to the official Pokemon Website</a></p>
            <p>
          </div>
        </div>
      </div>
    </section>

    <!-- Download Section -->
    <section id="download" class="download-section content-section text-center">
      <div class="container">
        <div class="col-lg-12 mx-auto">
          <h2>Charts</h2>
          <p>View our two charts dedicated to Pokemon</p>
          <a href="/charts/barchart" class="btn btn-default btn-lg">Bar Chart</a>
          <a href="/charts/columnchart" class="btn btn-default btn-lg">Column Chart</a>
        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mx-auto">
            <h2>Live Pokemon Twitter</h2>
              <a class="twitter-timeline" href="https://twitter.com/Pokemon">Tweets by TwitterDev</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        
              
            <ul class="list-inline banner-social-buttons">
              <li class="list-inline-item">
                <a href="https://twitter.com/Pokemon" class="btn btn-default btn-lg">
                  <i class="fa fa-twitter fa-fw"></i>
                  <span class="network-name">Twitter</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- Map Section -->
    <div id="map"></div>


<script>
window.twttr = (function (d,s,id) {

    var t, js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return; js=d.createElement(s); js.id=id;
    js.src="https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);

    return window.twttr || (t = { _e: [], ready: function(f){ t._e.push(f) } });

}(document, "script", "twitter-wjs"));

twttr.ready(function (twttr) {

    twttr.widgets.load();
    setInterval(function() {
        twttr.widgets.load();
        console.log("update twitter timeline after each 5 seconds");
    }, 5000);

});
</script>