<!DOCTYPE html>
<html>
  <head>
    <title>Pokedex</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
 
     <!-- Custom styles for this template -->
    <link href="https://blackrockdigital.github.io/startbootstrap-grayscale/css/grayscale.min.css" rel="stylesheet">
  </head>

  <body>
    
    <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
    
   
    
    
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-left" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/startup/index">Home</a>
        <a class="navbar-brand js-scroll-trigger" href="/pokemons">Pokemons</a>
        <a class="navbar-brand js-scroll-trigger" href="/login">Login</a>
        
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
           
            
             
            </li>
          </ul>
        </div>
      </div>
      </div>
    </nav>
    
    <%= yield %>
    
    <!-- Footer -->
    <footer>
    </div>
      <div class="container text-center">
       
      </div>
    </footer>
  </body>
</html>
